{% extends "base_page.html" %}
{% block content %}

<h2 style="display: inline-block; line-height: 30px;">Create Sales Order</h2>
<h4>You are creating sales order ID: <strong>{{ model }}</strong></h4>
<form method="post"><!-- action="/team_name_url/" -->
    {% csrf_token %}
    <label><strong>Customer: </strong> {{form.customer}}</label>
    <br>
    <label><strong>Products: </strong></label>
    {% for product in form.product %}
        <table>
            <tr> 
                <td>   
                    <div class="myradio">
                        <a href="{{ product.get_absolute_url }}">{{ product }}</a>
                    </div>
                </td>
                <td>Test linkage</td>
                <td><a href="{{ product.get_absolute_url }}">{{ request.get_host }}</a></td>
                <td><a href="{{ request.scheme }}://{{ request.get_host }}/sales/product/{{product.id}}">click me</a></td>
            </tr>
        </table>
    {% endfor %}
    <br>
    <label><strong>Date of Order: </strong>{{form.orderDate}}</label>
    <br>
    <label><strong>Unit to sold: </strong>{{form.unit_sold}}</label>
    <br>
    <label>{{form.costs}}</label>
    <br>
    <input type="submit" value="Submit" />
</form>

{% endblock%}