{% extends "base_page.html" %}
{% block content %}

<h2 style="display: inline-block; line-height: 30px;">Create Customer</h2>
<form method="post">
    {% csrf_token %}
    <label><strong>Customer Name: </strong> {{form.name}}</label>
    <br>
    <label><strong>Address: {{ form.address}}</strong></label>
    <br>
    <label><strong>Contact Person: </strong>{{form.contactPerson}}</label>
    <br>
    <label><strong>Email address: </strong>{{form.email}}</label>
    <br>
    <label><strong>Telephone no.: </strong>{{form.telNumber}}</label>
    <br>
    <input type="submit" value="Submit" />
</form>

{% endblock%}