{% extends "base_page.html" %}
{% block content %}
<table>
    <tr>
        <td>Name: </td>
        <td>{{customer.name}}</td>
    </tr>
    <tr>
        <td>Address: </td>
        <td>{{customer.address}}</td>
    </tr>
    <tr>
        <td>Contact Person: </td>
        <td>{{customer.contactPerson}}</td>
    </tr>
    <tr>
        <td>Email: </td>
        <td>{{customer.email}}</td>
    </tr>
    <tr>
        <td>Telephone Number: </td>
        <td>{{customer.telNumber}}</td>
    </tr>
</table>
{% endblock %}